/* Chrome, Safari and Edge */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background-color: #f56969;
    border-radius: 25px;
}

*::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #525252; 
}

/* Mobile Menu */
.mobile-menu:hover {
    font-size: 2.4rem;
    cursor: pointer;
    display: none;
}

.mobile-menu:hover {
    transition: all 0.2s;
    color: #62a5f1;
}

.open-menu {
    left: 0 !important;
}

.closed-menu {
    left: 100% !important;
}

/* Responsive Menu */
@media (max-width: 900px) {
    .mobile-menu {
        display: flex;
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fd8b8b rgb(245, 245, 245);
}

/* General Style */
html {
    font-size: 100%;
}


body {
    background-color: #ffffff;
    font-family: "Poppins", monospace;
    position: relative;
}

.container {
    margin: 0 auto;
    padding: 0 0rem;
    max-width: 110rem;
    background-color: white;
}

/* Navigation */
nav {
    font-size: 1.7rem;
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 80rem; /* Adjusted padding for navigation layout */
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    z-index: 200;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul a {
    color: #f1412a; /* Orange-red color for navigation links */
    text-decoration: none;
    transition: all 0.23s;
    font-weight: 600;
}


nav ul a:hover {
    color: #c73016; /* Darker hover color for links */
}

/* Logo */
.logo {
  width: 50;
  cursor: pointer;
  color: #2d2e32; /* Darker text color for logo */
}

/* Home Section */
.huy {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}

@media (max-width: 900px) {
    .huy {
        height: auto;
        padding: 11rem 0;
    }
}

.huy-main {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10rem;
    position: relative;
}

@media (max-width: 900px) {
    .huy-main {
        height: auto;
        text-align: center;
        flex-direction: column-reverse;
        gap: 3rem;
    }
}

.introduction-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65rem;
    gap: 10rem;
    position: relative;
}

@media (max-width: 900px) {
    .introduction-content {
        height: auto;
        text-align: center;
        flex-direction: column;
        gap: 3rem;
    }
}

@media (min-width: 1600px) {
    .introduction-content {
        margin-top: 5rem;
    }
}

@media (min-width: 1900px) {
    .introduction-content {
        margin-top: 11rem;
    }
}

.huy-text {

    display: flex;
    flex-direction: column;
    max-width: 700rem;
    position: relative;
}

.huy-text h1 {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: #771a1a;
  }

@media (max-width: 500px) {
    .huy-text h1 {
        font-size: 4rem;
    }
}

.huy-text p {
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: "Arial Narrow", sans-serif; /* Changed font to more readable Arial Narrow */
    line-height: 1.6;
    color: #555555;
}

@media (max-width: 900px) {
    .huy-text p {
        margin-bottom: 5rem;
    }
}

.huy-text span {
    display: flex;
    gap: 1.4rem;
    cursor: pointer;
    margin: 2.5rem 0;
}

.huy-text span a {
    color: #77170a; /* Text color for links */
    font-size: 3rem;
}

@media (max-width: 900px) {
    .huy-text span {
        justify-content: center;
        margin-bottom: 4rem;
        gap: 1.6rem;
    }
}

.huy-text span a {
    transition: all 0.3s;
}

.huy-text span a:hover {
    color: #751010;
}

.huy-img {
    background-image: url(img/henry.jpg);
    width: 25rem;
    height: 25rem;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #322d2d; /* Solid border around image */
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    transition: all 2s ease-in-out;
}

@media (max-width: 500px) {
    .huy-img {
        width: 28rem;
        height: 28rem;
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.huy-skills {
    display: flex;
    font-size: 1.7rem;
    color: #767676;
    align-items: center;
    position: inherit;
    bottom: 0;
    left: 0;
}
  @media (max-width: 900px) {
    .huy-skills {
      position: initial;
      flex-direction: column;
    }
  }
  .huy-skills p {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 2px solid rgba(45, 46, 50, 0.5);
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    color: #2d2e32;
  }
  @media (max-width: 900px) {
    .huy-skills p {
      margin-right: 0;
      margin-bottom: 3rem;
      border-bottom: 2px solid rgba(45, 46, 50, 0.5);
      border-right: none;
      padding-right: 0;
      padding-bottom: 1rem;
    }
  }
  .huy-skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  @media (max-width: 900px) {
    .huy-skills ul {
      justify-content: center;
    }
  }
  .huy-skills ul li {
    cursor: pointer;
  }
  .huy-skills ul li img {
    width: 5rem;
    height: 5rem;
    transition: all ease-in-out 0.3s;
  }
  .huy-skills ul li img:hover {
    transform: translateY(-1rem);
  }
  
/* Logo Styles */

.logo {
    display: flex;
    gap: 1rem;
}

.logo ul {
    list-style-type: none;
}

.logo img {
    width: 50px;
    height: 50px;
}
.about-me {
    display: flex;
    flex-direction: column;
    max-width: 700rem;
    position: relative;
}

.about-me h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: #771a1a;
}
.about-me h2{
    margin-bottom: 1rem;
    color: #070707;
    font-family: Mulish,sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5;
}
.about-me p {
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: Mulish,sans-serif;
    line-height: 1.6;
    color: #555555;
}
.projects {
    display: flex;
    max-width: 800rem;
    position: relative;
    
  }
  @media (max-width: 1020px) {
    .project {
      padding: 8rem 0;
    }
  }

  .projects-container {
    margin: 0 auto;
    padding: 0 0rem;
    max-width: 110rem;
    background-color: white;
  }
  
  .projects-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .projects-content h1 {
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: #771a1a;
  }
  @media (max-width: 600px) {
    .projects-content {
      text-align: center;
    }
  }
  
  .project-one {
  margin-top: 30px;
  background-color: white;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  }

.project-one h2 {
  text-align: center;
  margin-right: 20rem;
  margin-bottom: 1rem;
  color: #070707;
  font-family: Mulish,sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
}

.project-one img {
border-radius: 1.7rem;
width: 41rem;
display: flex;
border: 3px solid #2d2e32;
height: 34rem;
position: relative;
}

.project-one img:hover {
  transform: translateY(-1rem);
}

svg:hover {
    transform: translateY(-5px);
}
.contact {
  flex-direction: column;
  max-width: 700rem;
  display: flex;
  position: absolute;
  padding-left: 18rem;
}

.contact h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  margin-top: 3rem;
  color: #771a1a;
}
.contact h3{
  margin-bottom: 1rem;
  color: #070707;
  font-family: Mulish,sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
}
.contact img {
  width: 2rem;
  margin-right:12px;
}

.contact a {
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-family: Mulish,sans-serif;
  line-height: 1.6;
  color: #555555;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
}
.contact a:hover {
  color: #b31b00;
  transition: all .3s;
}

/* Media Queries for Tablets (768px and below) */
@media (max-width: 768px) {
  /* Adjust container padding */
  .container {
      padding: 0 1.5rem;
  }

  /* Adjust nav menu for tablets */
  nav {
    opacity: 0;
  }

  /* Adjust home section for tablet */
  .huy {
      height: auto;
      padding: 10rem 1rem;
  }

  .huy-main {
      flex-direction: column;
      gap: 2rem;
  }

  .huy-text h1 {
      font-size: 3rem;
  }

  .huy-text p {
      font-size: 1.7rem;
  }

  .huy-img {
      width: 22rem;
      height: 22rem;
  }

  .huy-skills ul {
      flex-wrap: wrap;
      gap: 1rem;
  }

  .huy-skills ul li img {
      width: 50px;
  }

  /* Adjust "About Me" section */
  .about-me-content h1 {
      font-size: 3rem;
  }

  .about-me-content h2 {
      font-size: 2rem;
  }

  .about-me-content p {
      font-size: 1.6rem;
  }

  /* Adjust projects section */
  .projects-container {
      padding: 2rem 1rem;
  }

  .projects-content h1 {
      font-size: 3rem;
  }
  .project-one {
        grid-template-columns: 1fr; /* Switch to single-column layout */
        text-align: center; /* Center the content */
    }

    .project-one img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto; /* Center the image */
    }

    .project-one h2 {
        margin: 2rem 0; /* Adjust margin for the heading */
        font-size: 2.2rem;
    }
}


/* Media Queries for Mobile (480px and below) */
@media (max-width: 480px) {
  nav {
     opacity: 0;
  }

  /* Adjust home section for mobile */
  .huy {
      padding: 5rem 1rem;
  }

  .huy-main {
      gap: 1rem;
  }

  .huy-text h1 {
      font-size: 2.5rem;
  }

  .huy-text p {
      font-size: 1.5rem;
  }

  .huy-img {
      width: 18rem;
      height: 18rem;
  }

  .huy-skills ul li img {
      width: 50px;
  }

  /* Adjust "About Me" section */
  .about-me-content h1 {
    text-align: center;
      font-size: 2rem;
  }

  .about-me-content h2 {
    text-align: center;
      font-size: 1.4rem;
  }

  .about-me-content p {
    text-align: center;
      font-size: 1rem;
  }

  /* Adjust projects section */
  .projects-content h1 {
    text-align: center;
    font-size: 2rem;
    margin-right: 2rem;
  }

  .project-one {
    flex-direction: row;
    justify-content: flex-strart;
    padding: 0.5rem;
    text-align: left;
  } 

  .project-one img {
    width: 60%; /* Resize image on small devices */
    height: auto;
    margin: 0 auto;
  }

  .project-one h2 {
      font-size: 1.4rem;
      margin: 1,5rem;
  }

  .contact {
    margin-left:-18rem;
  }

  .contact-content h1 {
    margin-left: 2rem;
    text-align: center;
      font-size: 2rem;
  }

  .contact-content h3 {
    text-align: center;
      font-size: 1.4rem;
  }

  .contact-content a {
    text-align: center;
      font-size: 1rem;
  }
}
